In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import netCDF4 as nc

ncPath = nc.Dataset(r'F:\\annu_solar\ERA_2011_DailyAvg.nc');
stored_f= ncPath.groups['SSRD_data']
lat = stored_f.variables['Latitude'][:]
lon = stored_f.variables['Longitude'][:]
data=stored_f.variables['ssrd'][:,:,:]
stored_f.variables

OrderedDict([('Longitude',
              <class 'netCDF4._netCDF4.Variable'>
              float32 Longitude(x1)
              path = /SSRD_data
              unlimited dimensions:
              current shape = (321,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('Latitude',
              <class 'netCDF4._netCDF4.Variable'>
              float32 Latitude(y1)
              path = /SSRD_data
              unlimited dimensions:
              current shape = (321,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('ssrd',
              <class 'netCDF4._netCDF4.Variable'>
              float32 ssrd(z1, y1, x1)
              path = /SSRD_data
              unlimited dimensions:
              current shape = (365, 321, 321)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('Time',
              <class 'netCDF4._netCDF4.Variable'>
              int32 Time(z1)
              path = /SSRD_data
              unlimited dimensions:
              current shape = (365,)
              filling on, default _FillValue of -2147483647 used)])

In [7]:
a=data[1:365,2,2]
a

masked_array(data=[111.0371  , 115.886024, 107.90591 , 117.03328 ,
                   112.14633 ,  69.70402 , 115.16344 , 126.30645 ,
                   102.71471 ,  47.221508, 106.11212 ,  36.813763,
                   131.20607 , 138.24176 ,  69.36174 ,  41.035175,
                   110.47298 , 140.07358 ,  78.85041 ,  92.129486,
                   140.82785 , 109.332054, 147.43886 , 145.34084 ,
                   135.64299 , 118.23759 , 133.42453 ,  99.9448  ,
                   106.54314 , 147.27406 , 100.68006 ,  49.123047,
                   133.98866 ,  67.89756 , 138.40656 , 106.872734,
                   157.13037 ,  90.35471 , 170.90384 , 181.45737 ,
                    80.770966, 104.07748 ,  49.19911 , 178.28813 ,
                   178.16136 , 174.76396 , 122.148415,  66.45239 ,
                    62.09787 , 192.72714 ,  58.611717,  38.328655,
                    69.551895, 164.60341 , 199.46492 , 218.68314 ,
                   185.39989 , 165.33867 , 199.66776 , 214.27791 ,
                   168.0452  , 178.31349 , 212.58553 , 115.271194,
                   212.28763 , 233.69893 , 236.46251 , 185.04494 ,
                   209.28954 , 197.13872 , 182.12924 , 221.6939  ,
                   105.68111 , 189.10788 , 244.27782 , 238.07246 ,
                   252.9932  , 256.81528 , 253.22139 , 257.9372  ,
                   249.15843 , 193.63988 , 202.43132 , 164.40692 ,
                   110.98006 , 191.95386 , 199.22406 , 233.02705 ,
                   235.41032 , 277.55472 , 275.86868 , 176.41196 ,
                   286.91663 , 288.6914  , 295.93625 , 299.0611  ,
                   174.47873 , 209.6318  , 227.0182  , 283.94388 ,
                   288.33643 , 280.10278 , 151.5145  , 198.03877 ,
                   287.03073 , 315.4207  , 315.0784  , 297.4765  ,
                   303.61212 , 291.6071  , 310.80627 , 312.65076 ,
                   307.90326 , 301.60916 , 307.17435 , 282.1818  ,
                   228.5331  , 266.83005 , 305.67212 , 321.3598  ,
                   326.53198 , 322.27255 , 275.5708  , 238.45277 ,
                   260.6564  , 295.9109  , 193.10112 , 258.20975 ,
                   180.32912 , 277.6181  , 301.9451  , 329.01666 ,
                   316.49188 , 310.41962 , 278.97455 , 320.71964 ,
                   299.41608 , 293.6227  , 334.5565  , 330.32874 ,
                   333.9543  , 304.42978 , 325.47345 , 270.86765 ,
                   301.11478 , 332.0591  , 334.6389  , 327.6412  ,
                   331.83728 , 345.66144 , 338.93002 , 342.08655 ,
                   340.6731  , 252.32132 , 322.5958  , 338.11868 ,
                   329.454   , 284.2101  , 319.6484  , 282.81564 ,
                   276.65466 , 307.22504 , 318.52017 , 324.70016 ,
                   327.27994 , 331.19708 , 326.52563 , 327.83136 ,
                   335.3044  , 342.15628 , 338.3849  , 333.1303  ,
                   339.72867 , 336.92072 , 325.25797 , 313.37335 ,
                   337.5419  , 342.85986 , 343.37326 , 343.6585  ,
                   346.9545  , 339.0758  , 331.39993 , 344.84378 ,
                   345.99106 , 343.38596 , 342.05487 , 339.77936 ,
                   342.03586 , 344.8945  , 344.1529  , 341.6302  ,
                   331.81192 , 336.95242 , 329.004   , 341.2689  ,
                   337.90317 , 334.77197 , 341.43372 , 336.35025 ,
                   335.37415 , 331.15906 , 334.67056 , 337.33905 ,
                   337.30103 , 332.53452 , 333.49796 , 325.70166 ,
                   323.62262 , 327.14682 , 322.93808 , 327.57782 ,
                   325.02344 , 322.0887  , 320.9985  , 320.6182  ,
                   320.352   , 315.15445 , 316.85315 , 313.63956 ,
                   308.14413 , 309.228   , 310.41962 , 310.9394  ,
                   308.56247 , 307.33914 , 311.16757 , 307.83353 ,
                   305.4503  , 304.89883 , 295.34677 , 292.52615 ,
                   297.34338 , 290.96057 , 286.42856 , 283.22763 ,
                   281.61133 , 260.162   , 276.51523 , 274.9116  ,
                   259.08447 , 283.52554 , 278.4738  , 275.6215  ,
                   274.6644  , 277.11102 , 272.54102 , 268.85837 ,
                   265.55603 , 261.01135 , 249.6465  , 261.81635 ,
                   260.73245 , 259.25558 , 248.4612  , 251.92834 ,
                   221.48473 , 233.4454  , 242.49672 , 242.86435 ,
                   244.6708  , 235.37863 , 242.54742 , 240.0881  ,
                   218.87962 , 234.99197 , 233.12213 , 234.01585 ,
                   228.59013 , 213.65674 , 211.54602 , 222.06787 ,
                   220.47691 , 216.10971 , 209.93605 , 213.25742 ,
                   191.57988 , 202.2285  , 205.79071 , 200.25723 ,
                   202.24117 , 198.26695 , 122.48436 , 179.51779 ,
                   179.80937 , 192.79053 , 183.31453 , 179.1375  ,
                   181.90106 , 180.08826 , 168.93257 , 171.03061 ,
                   165.00906 , 124.366875, 128.46152 , 163.52586 ,
                   174.1935  , 158.29665 , 122.19279 ,  71.19356 ,
                    96.32554 ,  72.00488 , 104.666954, 100.1413  ,
                   115.879684, 118.231255, 146.5388  , 151.5652  ,
                   152.3892  ,  71.60556 ,  54.15578 , 111.90547 ,
                   143.40126 , 129.7926  , 138.07697 , 128.81648 ,
                    50.612583, 136.27051 , 120.918755,  88.656006,
                    61.863346,  98.66443 , 124.73451 ,  94.48739 ,
                    85.19521 ,  52.19086 ,  36.94687 ,  58.561012,
                    49.959724,  77.97571 ,  96.99108 , 119.84756 ,
                   124.753525,  65.32414 ,  51.227417,  87.76862 ,
                    82.76758 , 108.62849 , 117.971375, 125.64725 ,
                   121.045525, 122.68719 , 120.95679 , 122.00897 ,
                    59.194855, 118.07279 , 118.00307 , 106.872734,
                   100.82584 , 116.52621 ,  81.04986 ,  56.703842,
                   122.661835, 122.154755, 123.270325, 123.21328 ,
                   117.26147 ,  89.87299 ,  76.65731 ,  82.52038 ,
                    95.203636, 118.966515,  78.913795, 115.11273 ],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [32]:
s=pd.read_csv("F:\\annu_solar\SWGDN Stations Coordintes.csv")
lati=s["a"]
longi=s["Lon"]
stn=s["Station Name"]
for j in range(17):
    t=stn[j]
    print(t)

Patiala
New Delhi
Dibrugarh
Varanasi
Patna
Shillong
Ranchi (A)
Nagpur
Bubaneshwar
Pune
Hyderabad
Vizag
Machilipatnam
Panjim
Bangalore
Kodaikanal
Trivandrum

In [35]:

import datetime
import xlwt

"""Writing Excel File"""
book14= xlwt.Workbook("average");
"""Styling"""
font = xlwt.Font();
font.name = 'Calibri';
font.height = 200;
timeStyle = xlwt.XFStyle();
timeStyle.num_format_str = 'hh:mm';
timeStyle.font = font;
dateStyle = xlwt.XFStyle();
dateStyle.num_format_str = 'DD-MM-YYYY';
dateStyle.font = font;
fontStyle = xlwt.XFStyle();
fontStyle.font = font;

In [36]:
for j in range(len(lati)):
    t=stn[j]
    a=book14.add_sheet(str(t)) 
    xlFile="E:\\20011.xls"
    i=0
  
    for i in range(365):
        
        year = 2011;
        doy = i+1;
        date = datetime.datetime(year,1,1)+datetime.timedelta(doy-1);
        b=lati[j]
        c=longi[j]

        d=stored_f.variables['ssrd'][i,b,c]
        meanERA=np.mean(d)
        a.write(i+1,0,date,dateStyle);
        a.write(i+1,1,float(meanERA),fontStyle);
        i+=1

book14.save(xlFile);